{% load static %}
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>
        Opticca
    </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<style>
  .bg {
    background-image: url("{% static "img/wallpaper.jpg" %}");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
</style>

</head>
<body>
<nav class="nav justify-content-center ">
    <a class="btn"href={%url "index"%} value="Go back!" style="font-size:30px;" >&lt;</a>
    <a class="nav mx-auto" href="#"><b style="font-size:35px" >Opticca</b>  <b class="mt-4"> -{{Page}}</b></a>



</nav>