<style>
   .container-fluid{
       min-height :-webkit-fill-available;
}


</style>
<footer class="page-footer font-small bg-light text-dark pt-4">

    <!-- Footer Links -->
    <div class="container-fluid text-center text-md-left">

        <!-- Grid row -->
        <div class="row">

            <!-- Grid column -->
            <div class="col-md-6 mt-md-0 mt-3">

                <!-- Content -->
                <h5 class="text-uppercase">À PROPOS DU OPTICCA</h5>
            </div>
            <!-- Grid column -->

            <hr class="clearfix w-100 d-md-none pb-3">

            <!-- Grid column -->
            <div class="col-md-3 mb-md-0 mb-3">

                <!-- Links -->
                <h5 class="text-uppercase">INFORMATIONS LÉGALES</h5>
                <a class="link">
                    Conditions générales d’utilisation
                </a>
                <a>
                   Règles de diffusion, de référencement et de déréférencement
                </a>
                <a>
                    Conditions Générales de Vente
                </a>
                <a>
                    Vie privée / cookies
                </a>
                <a>
                    Vos droits et obligations
                </a>
                <a>
                    Critères de classement
                </a>


            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-3 mb-md-0 mb-3">

                <!-- Links -->
                <h5 class="text-uppercase">NOS SOLUTIONS PROS</h5>



            </div>
            <!-- Grid column -->

        </div>
        <div class="row">
            <div class="col-md-3 mb-md-0 mb-3">

                <!-- Links -->
                <h5 class="text-uppercase"> Qui sommes-nous ?</h5>



            </div>
            <!-- Grid column -->
        </div>
        <div class="row">
            <!-- Grid column -->
            <div class="col-md-3 mb-md-0 mb-3">

                <!-- Links -->
                <h5 class="text-uppercase">Nous rejoindre</h5>



            </div>
        </div>
        <!-- Grid row -->

    </div>
    <!-- Footer Links -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3 --">© 2020 Copyright:
        <a href="/"> Opticca</a>
    </div>
    <!-- Copyright -->

</footer>
<!-- Footer -->

<script crossorigin="anonymous"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</body>
</html>