
<footer class="page-footer font-small bg-light text-dark pt-4">

    <!-- Footer Links -->
    <div class="container-fluid text-center text-md-left">

        <!-- Grid row -->
        <div class="row">

            <!-- Grid column -->
            <div class="col-md-4 mt-md-0 mt-3">

                <!-- Content -->
                <h5 class="text-uppercase">À PROPOS DU OPTICCA</h5>
            </div>
            <!-- Grid column -->

            <hr class="clearfix w-100 d-md-none pb-3">

            <!-- Grid column -->
            <div class="col-md-4 mb-md-0 mb-3">

                <!-- Links -->
                <h5 class="text-uppercase">INFORMATIONS LÉGALES</h5>
                <a class="link">
                    Conditions générales d’utilisation
                </a>
                <a>
                   Règles de diffusion, de référencement et de déréférencement
                </a>
                <a>
                    Conditions Générales de Vente
                </a>
                <a>
                    Vie privée / cookies
                </a>
                <a>
                    Vos droits et obligations
                </a>
                <a>
                    Critères de classement
                </a>


            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-4 mb-md-0 mb-3">

                <!-- Links -->
                <h5 class="text-uppercase">NOS SOLUTIONS PROS</h5>

            </div>
            <!-- Grid column -->

        </div>
        <div class="row">
            <div class="col-md-3 mb-md-0 mb-3">

                <!-- Links -->
                <h5 class="text-uppercase"> Qui sommes-nous ?</h5>



            </div>
            <!-- Grid column -->
        </div>
        <div class="row">
            <!-- Grid column -->
            <div class="col-md-3 mb-md-0 mb-3">

                <!-- Links -->
                <h5 class="text-uppercase">Nous rejoindre</h5>



            </div>
        </div>
        <!-- Grid row -->

    </div>
    <!-- Footer Links -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3 --">© 2020 Copyright:
        <a href="/"> Opticca</a>
    </div>
    <!-- Copyright -->

</footer>
<!-- Footer -->
