{% if user.is_authenticated%}
{% load static %}
{% include 'nav/header.html'%}

{%else%}
{% include 'pages/header.html'%}
{% endif%}
<div class="py-5 bg">
    <div class="container">
      <div class="row hidden-md-up">
        {% for product in product_list %}



        <div class="col-md-4">
            <div class="card">
                {%if product.img == 'None'%}
                        <img class="flex mx-auto img"  style="display: block;max-width: 100px;max-height:100px;"src="{% static 'img/noimage.png' %}">
                    {%else %}
                        <img class="flex mx-auto img" style="display: block;max-width: 100px;max-height:100px;"src="{{ product.img.image_base64 }}">
                    {% endif %}
              <div class="card-block">
                <h4 class="card-title ml-2">{{product.name}}</h4>
                <h6 class="card-subtitle text-muted ml-2">{{product.price}}</h6>
                <p class="card-text ml-2">{{product.city.name|default_if_none:'Pas Sesi'}}</p>
                <p class="card-text ml-2">{{product.category.name|default_if_none:'Pas Sesi'}}</p>
                <a href="/product/{{product.reference}}" class="card-link btn btn-primary m-2">Go to Page</a>
                
              </div>
            </div>
          </div>
    
         
             
        {%endfor%}
      </div>
    </div>
</div>

   

{% if user.is_authenticated%}
{% include 'nav/footer.html'%}

{%else%}
{% include 'pages/footer.html'%}
{% endif%}

