{% if user.is_authenticated%}
{% load static %}
{% include 'nav/header.html'%}

{%else%}
{% include 'pages/header.html'%}
{% endif%}
<div class="container-fluid ">
<style>
    .img{
    max-height:100%;
    max-width:100%;
    display:block:
    }
    .image_s{
    height:200px;
    }

</style>

    <div class="container ">

        {% for product in product_list %}
        <div class="col-sm-12 ">
        <div class="row" id="list">
            
            <div class="row">
            <div class="col-sm-3">
                <div class="card ">
                    
                    {%if product.img == 'None'%}
                        <div class="image_s"><img class="flex mx-auto img"  src="{% static 'img/noimage.png' %}"></div>
                    {%else %}
                        <div class="image_s"><img class="flex mx-auto img"  src="{{ product.img.image_base64 }}"></div>
                    {% endif %}
                    
                    <h6 class="card-body">
                        <a href="/product/{{product.reference}}/">
                            <span><b>{{product.name}}</b></span>
                        </a></h6>
                    <div class="card-body">
                        <span>{{product.price}} </span><br/>
                        <span>{{product.category.name|default_if_none:'Pas Sesi'}}</span><br/>
                        <span>{{product.city.name|default_if_none:'Pas Sesi'}}</span>

                    </div>

                </div>


            </div>


            <div class="text-dark ">

            </div>


        </div>
        {%endfor%}
    </div>
</div>
<style>
    #list{

    }








</style>
{% if user.is_authenticated%}
{% include 'nav/footer.html'%}

{%else%}
{% include 'pages/footer.html'%}
{% endif%}

